<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Html_Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    #wrapoer{
        background-color: rgb(165, 165, 165);
        padding: 10px;
    }
    h1{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 20px;
    }
    .otherInfo{
        width: 1000px;
        margin:  0px auto;
        margin-top: 10px;
        box-shadow: 5px 3px 2px rgb(187, 187, 187);
    }

</style>
<body>
    <div id="wrapper">
        <h1>List of Employees</h1>
        <table class="table table-striped table-dark otherInfo table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
            </tr>
            </thead>
            <tbody>
                {%for index1 in usersInfo: %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{index1["first_name"]}}</td>
                    <td>{{index1["last_name"]}}</td>
                    <td>{{index1["first_name"]+" "+index1["last_name"]}}</td>
                </tr>
                {%endfor%}


            
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>